@charset 'UTF-8';

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

div[role="main"] {
    border: 3px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}

div[role="main"] h2 {
    margin-top: 30px;
    text-align: center;
}

#login_div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.login_input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

header {
    height: 225px;
}

#login_btn {
    background-color:skyblue;
    width: 60px;
    height: 30px;
    border-style: outset;
    border-radius: 5px;
    position: relative;
    left: 80%;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#password_input {
    margin-bottom: 0px;
}

.errorMsgRed {
    color: red;
    font-size: 16px;
    position: relative;
    top: 0px;
}
